.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #ffffffdf;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0e797f;
    color: #fff;
  }
  
  .modalTitle {
    margin: 0;
    font-size: 1.25rem;
    margin-left: 10px;
  }
  
  .modalCloseButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  .modalBody {
    padding: 20px;
    font-size: 1rem;
    color: #333;
    margin: 10px;
  }
  
  .modalFooter {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .modalCloseBtn {
    background-color: #0e797f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  .modalCloseBtn:hover {
    background-color: #095c63;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  